spring:
  application:
    name: brokage-firm-challenge
  datasource:
    url: jdbc:h2:mem:brokeragedb
    username: admin
    password: password
    driver-class-name: org.h2.Driver
  sql:
    init:
      mode: always
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
      enabled: true
      path: /h2-console